
html {
  display: grid;
  min-height: 100%;
}

body {
  display: grid;
  background: #333;
}

.main {
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 850px;
  height: 480px;
}

h1 {
  font-family: 'Long Cang', cursive;
  text-align: center;
  margin-top: 2em;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #F6F4F3;
}
h1 sup {
    text-transform: lowercase;
    color: #FF3E41;
}

#countdown {
  color: #F6F4F3;
  text-align: center;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  letter-spacing: 5px;
  margin-top: 5%;
}

.days, .hours, .minutes, .seconds, .left {
  display: inline-block;
  padding: 20px;
  width: 120px;
  border-radius: 10px;
}

.days {
  background: #D87200;
}

.hours {
  background:  #FF3E41;
}

.minutes {
  background: #FFB20C;
}

.seconds {
  background:  #2186FF;
}

.left {
    background: #E10A0A;
}
.c-number {
  font-family: "Montserrat", sans-serif;
  color: #333;
  font-size: 5em;
}
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
html {
  display: grid;
  min-height: 100%;
}
 
body {
  display: grid;
  background: #333;
}
 
.main {
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 850px;
  height: 480px;
}
 
h1 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-top: 2em;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #F6F4F3;
}
h1 sup {
    text-transform: lowercase;
    color: #FF3E41;
}
 
#countdown {
  color: #F6F4F3;
  text-align: center;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  letter-spacing: 5px;
  margin-top: 5%;
}
 
.days, .hours, .minutes, .seconds, .left {
  display: inline-block;
  padding: 20px;
  width: 120px;
  border-radius: 10px;
}
 
.days {
  background: #D87200;
}
 
.hours {
  background:  #FF3E41;
}
 
.minutes {
  background: #FFB20C;
}
 
.seconds {
  background:  #2186FF;
}
 
.left {
    background: #E10A0A;
}
.c-number {
  font-family: "Montserrat", sans-serif;
  color: #333;
  font-size: 5em;
}
